:root {
    direction: rtl;
    --main-color: #0d9488;
    --secondary-color: #0f766e;
    --third-color: #1e293b;
}

/* Global Rules Starting */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* overflow: auto; */
    font-family: 'Alexandria', sans-serif;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin-bottom: 45px;
}

/* Global Rules Ending */
/* Start Key Frames */
@keyframes mymove {
    0%   { left: -1px}
    50%  { left: 5px;}
    100% { left: -1px;}
}

@keyframes mymove2 {
    0%   { bottom: -20px}
    50%  { bottom: 0px;}
    100% { bottom: -20px;}
}

@keyframes mymove3 {
    0%   { right: 40px}
    50%  { right: 20px;}
    100% { right: 40px;}
}

@keyframes mymove4 {
    0%   { bottom: 10px}
    50%  { bottom: -10px;}
    100% { bottom: 10px;}
}

@keyframes mymove5 {
    0%   { bottom: 0px}
    50%  {bottom: 35px;}
    100% { bottom: 0px;}
}

@keyframes mymove6 {
    0%   {bottom: 10%;}
    50%  {bottom: 25%;}
    100% {bottom: 10%;}
}

@keyframes mymove6-1 {
    0%   { bottom: 115px}
    50%  { bottom: 95px;}
    100% { bottom: 115px;}
}


@keyframes mymove7 {
    0%   {bottom: 10%;}
    50%  {bottom: 25%;}
    100% {bottom: 10%;}
}

@keyframes mymove8 {
    0%   { transform: rotateZ(0deg);}
    100%  { transform: rotateZ(360deg);}
}

@keyframes mymove9 {
    0%   { transform: rotateZ(360deg);}
    100%  { transform: rotateZ(0deg);}
}

/* End Key Frames */
/* Start Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 4px 20px rgba(25,55,101,.04);
}

header.open {
    background: rgb(246 254 252);
}

header .container {
    margin-bottom: 0px;
}

header .header-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .header-sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-sec1 img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header .header-sec1 img:hover {
    transform: scale(1.02);
}

header .links .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 0;
}

header .links .sub-menu {
    max-width: 684px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    padding: 32px;
    background: #262626;
    border-radius: 24px;
    position: absolute;
    top: 52px;
    right: -60px;
    font-size: 14px;
    color: #fff;
    letter-spacing: -.02em;
    display: none;
}

header .links .sub-menu.open {
    height: 100%;
    opacity: 1;
    padding: 8px 15px;
}

.almost-price > i {
    display: none;
}

header .links .sub-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 300;
    margin-right: 20px;
    cursor: pointer;
}

.sub-menu i {
    font-size: 17px;
    color: #5C5C5C;
    transition: 0.3s;
}


.li-item:hover .sub-menu {
    display: grid;
}

header .links .sub-menu li span {
    margin-right: 16px;
    font-size: 14px;
    color: #ADB7BE;
    transition: 0.3s;
}

header .links .sub-menu li:hover i {
    color: #fff;
}

header .links .sub-menu li:hover span {
    color: #fff;
}
.menu2-container {
    width: 1012px;
    max-width: calc(100vw - 72px);
    padding: 16px;
    position: absolute;
    top: 52px;
    background: #262626;
    border-radius: 24px;
    font-size: 14px;
    color: #fff;
    letter-spacing: -.02em;
    right: -160px;
    left: auto;
    display: none;
}

.li-item:hover .menu2-container {
    display: block;
}

.menu2-items {
    display: flex;
    margin: -8px;
}

.menu2-items a {
    flex: 1;
    height: 220px;
    margin: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu2-items a:hover {
    box-shadow: 0 0 0 4px #2D68FF;
}

.menu2-items .menu2-item1 {
    background-image: url(https://images.ui8.net/uploads/lunacy.png);
}
.menu2-items .menu2-item2 {
    background-image: url(https://images.ui8.net/uploads/sapiens-in-header.jpg);
}
.menu2-items .menu2-item3 {
    background-image: url(https://images.ui8.net/uploads/peeps-in-header.jpg);
}

.menu3-container {
    position: absolute;
    top: 52px;
    width: 200px;
    background: #262626;
    border-radius: 24px;
    font-size: 14px;
    padding: 32px 0px;
    right: -25px;
    display: none;
}

.li-item:hover .menu3-container {
    display: block;
}

.menu3-container .menu3-item {
    list-style: none;
    padding: 0;
    margin-right: 25px;
}

.menu3-container .menu3-item li {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 300;
    color: #ADB7BE;
    cursor: pointer;
    position: relative;
}

.menu3-item i {
    font-size: 17px;
    color: #5C5C5C;
    transition: 0.3s;
}

.menu3-container .menu3-item li:hover {
    color: #fff;
}

.li-item .menu3-sub1-container {
    right: 160px;
    top: 0;
}

.menu3-container .menu3-item li span {
    margin-right: 16px;
    font-size: 14px;
    color: #ADB7BE;
    transition: 0.3s;
}

i.fa-sharp.fa-solid.fa-arrow-left {
    font-size: 13px;
    transition: 0.3s;
    transform: translateX(-40px);
}

.menu3-container .menu3-item li:hover > i {
    color: #fff;
}

.menu3-container .menu3-item li:hover > span {
    color: #fff;
}

.menu3-sup1-container {
    position: absolute;
    top: -15px;
    width: 200px;
    background: #262626;
    border-radius: 24px;
    font-size: 14px;
    padding: 32px 0px;
    right: 168px;
    display: none;
}

.menu3-container .menu3-item li:hover > i.fa-sharp.fa-solid.fa-arrow-left {
    transform: translateX(-45px);
}

.menu3-container .menu3-item li:hover > .menu3-sup1-container {
    display: block;
}

header .links ul .li-item {
    margin-right: 32px;
    font-weight: 700;
    position: relative;
    height: 55px;
    display: flex;
    align-items: center;
}

header .links ul .li-item-featured {
    display: none;
}


header .links ul .li-item .li-item-link {
    color: #1e293b;
    text-decoration: none;
    font-size: 16px;
    transition: 0.35s;
}

header .links ul .li-item:hover a {
    color: var(--secondary-color);
}

header .header-sec2 {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1rem;
    align-items: center;
}

header .header-sec2 a {
    text-decoration: none;
    padding: 14px 24px;
    font-size: 16px;
    color: var(--third-color);
    font-weight: 700;
}

header .header-sec2 .btn1 {
    margin-right: 0;
    border-color: var(--main-color);
    border-style: none;
    transition: 0.3s;
    text-align: center;
}

header .header-sec2 .btn1:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid  var(--secondary-color);
    border-radius: 1000000px;
    transform: translate3d(0,3px,.01px);
}

header .header-sec2 .btn2 {
    background-color: var(--main-color);
    border: 1px solid  var(--secondary-color);
    border-radius: 1000000px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
}

header .header-sec2 .btn2:hover {
    background-color:  var(--secondary-color);
    border-color: var(--main-color);
    transform: translate3d(0,3px,.01px);
}

header .header-sec2 .btn3 .btn3-div {
    position: relative;
    color: #64748b;
    padding: 10px 15px 10px 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


header .header-sec2 .btn3 .btn3-div i {
    margin-left: 8px;
    color: var(--third-color);
}

.header-sec2 .btn3 .btn3-div span {
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    box-shadow: 0 -13px 50px 3px rgba(17,23,156,.07);
    min-width: 100%;
    background: #ddd;
    opacity: 0;
    position: absolute;
    transition: 0.6s;
    height: 0%;
    text-align: center;
    top: 36px;
}

.btn3:hover .btn3-div span {
    height: 39px;
    opacity: 1;
}

.wg-dropdown-1 {
    width: 100%;
    color: #000;
    background-color: #ccfbf1;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.6s;
}

.wg-dropdown-1:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* start header icon  */
header .header-btn-menu {
    position: relative;
    display: none;
}

header .header-btn-menu .header-btn-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--secondary-color);
    width: 48px;
    height: 48px;
    align-items: center;
    border-radius: 999999px;
    align-content: center;
    flex-direction: column;
}

header .header-btn-menu .header-btn-icon span {
    height: 1px;
    margin-bottom: 5px;
    background-color: #fff;
}

header .header-btn-menu .header-btn-icon span {
    width: 50%;
}

.header-btn-menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    flex-direction: column;
    align-items: stretch;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 40px;
    padding-right: 0;
}

.header-btn-menu-container ul li a {
    display: block;
    text-decoration: none;
    color: #1e293b;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.111em;
}

.header-btn-menu-container ul li:last-child {
    display: block;
}

header .header-btn-menu .header-btn-icon span:last-child {
    margin-bottom: 0;
}

.header-btn-menu-container {
    left: 0;
    right: 0;
    top: 70px;
    text-align: center;
    min-width: 200px;
    position: absolute;
    background-color: #fff;
    padding-top: 36px;
    padding-bottom: 36px;
    display: none;
}

.header-btn-menu-container ul li {
    color: #64748b;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.111em;
    position: relative;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

header .links ul .li-item-featured .btn1-sec2-content3 {
    margin: 0;
    padding: 14px 24px;
    font-size: 16px;
    flex: 1;
    display: block;
    color: #fff;
    font-weight: 500;
}

header .links ul .li-item-featured .btn2-sec1-content3 {
    padding: 14px 24px;
    font-size: 16px;
    flex: 1;
    display: block;
    margin: 0;
    margin-left: 18px;
    color: #0f766e;
    font-weight: 500;
}

/* end header icon  */

/* End Header */
/* Start Section1 */
.sec1 {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: rgba(240,253,250,.6);
}

.sec1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    background: rgba(240,253,250,.6);
}

.sec1 .container h1 {
    letter-spacing: -2px;
    font-weight: 700;
    text-align: center;
    font-size: 64px;
    background-image: linear-gradient(123deg,#1e293b 24%,#0d9488 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.6;
}

.sec1 .container .para1-sec1 {
    text-align: center;
}

.para1-sec1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64748b;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    flex-wrap: wrap;
}

.para1-sec1 ul li {
    display: flex;
    margin-left: 20px;
    align-items: center;
    column-gap: 5px;
}

.sec1 .btn-sec1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    color: #64748b;
    letter-spacing: -.5px;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 .btn-sec1 .btn1-link-sec1 {
    background-color: var(--main-color);
    margin-bottom: 15px;
    margin-right: 0px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 1000000px;
    padding: 20px 40px 18px;
    font-weight: 600;
    line-height: 1em;
    display: inline-block;
    transition: 0.3s;
}

.sec1 .btn-sec1 .btn1-link-sec1:hover {
    transform: translate3d(0,3px,0.01px);
}

.btn-content {
    display: flex;
    justify-content: center;
}

.arrow-btn-sec1 {
    margin-left: 0;
    margin-right: 8px;
}

.btn-sec1 .btn2-link-sec1 {
    color: #0f766e;
    text-align: center;
    margin-bottom: 15px;
    transform-style: preserve-3d;
    background-color: transparent;
    border: 1px solid #0f766e;
    border-radius: 100000px;
    padding: 18px 40px;
    line-height: 1.111em;
    text-decoration: none;
    transition: transform .3s,color .3s,background-color .3s;
    transform: translateZ(0.01px);
    display: inline-block;
    font-size: inherit;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-right: 20px;
}

.btn-sec1 .btn2-link-sec1:hover {
    color: #fff;
    background-color: #0f766e;
    transform: translate3d(0,3px,0.01px);
}

.sec1 .para2-sec1 {
    color: #334d74;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: -.2px;
    text-align: center;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 15px;
}

/* End Section1 */
/* Start Popup Video  */
.video-container {
    background: rgb(240 253 250);
    width: 100%;
    z-index: 999;
    max-width: 1268px;
    height: calc(100% - 200px);
    box-shadow: 0 4px 20px rgba(25,55,101,.04);
    border-radius: 20px;
    padding: 30px;
}

.video-container .video-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.333em;
    color: #160647;
}

.exit-icon {
    font-size: 20px;
    color: #160647;
    transition: 0.1s;
}

.exit-icon:hover {
    color: #160647ad;
}

.overlay {
    position: fixed;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    background: rgb(227 221 221 / 17%);
}

.video-popup {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    transition: 0.3s;
}

.video-popup.open {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.title-video {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.video-frame {height: calc(100% - 50px);}

iframe.embed-responsive-item {
    height: 100%;
    width: 100%;
}

.video-popup {
    visibility: hidden;
    opacity: 0;
}
/* End Popup Video  */
/* Start Middle Section  */

.img-container-mid-sec {
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    /* width: max-content; */
}

.img-container-mid-sec img {
    border: 0;
    display: inline-block;
    vertical-align: middle;
}

.mid-sec-img1 {
    z-index: 1;
    color: #4d7263;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 34px rgba(40,40,43,.14);
    width: 845px;
    animation: mymove5 4s infinite;
    animation-timing-function: linear;
}

.mid-sec-img2 {
    box-shadow: none;
    z-index: 2;
    max-width: 200px;
    border-radius: 16px;
    position: absolute;
    left: 10%;
    bottom: 115px;
    animation: mymove6 4s infinite;
    animation-timing-function: linear;
}

.mid-sec-img3 {
    position: absolute;
    top: -94px;
    right: 5%;
    animation: mymove9 80s infinite;
    animation-timing-function: linear;
}

.mid-sec-img4 {
    position: absolute;
    top: -117px;
    left: 5%;
    /* transition: 0.3s; */
    animation: mymove8 80s infinite;
    animation-timing-function: linear;
}

.mid-sec-img5 {
    z-index: 2;
    max-width: 284px;
    border-radius: 10px;
    position: absolute;
    /* bottom: 81px; */
    right: 10%;
    box-shadow: 0 8px 34px rgba(40,40,43,.06);
    animation: mymove7 4s infinite;
    animation-timing-function: linear;
}

/* End Middle Section  */
/* Start Section2 */

.sec2 {
    padding-top: 70px;
    padding-bottom: 60px;
    color: #64748b;
    letter-spacing: -.5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
}

.sec2 .container h1 {
    color: #fff;
    letter-spacing: -.04em;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(123deg,#1e293b 24%,#0d9488 65%);
    -webkit-background-clip: text;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1.9em;
    text-align: center;
}

.sec2 .container p {
    /* margin-bottom: 35px; */
    color: #667085;
    margin-top: 0;
}

.sec2 .container > p {
    text-align: center;
}

.sec2-content1 {
    min-height: 580px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    position: relative;
}

.content1-item1 {
    display: flex;
    position: relative;
    z-index: 1;
    /* width: 100%; */
    /* max-width: 617px; */
    margin-right: 30px;
    justify-content: flex-end;
    margin-left: 53px;
    margin-right: 0;
}

.sec2-img1 {
    vertical-align: middle;
    display: inline-block;
    max-width: 615px;
    border: 1px solid #f3f5f8;
    border-radius: 10px;
    margin-bottom: 0;
    margin-left: auto;
    box-shadow: 0 6px 26px rgba(40,40,43,.06);
    animation: mymove4 3s infinite;
    animation-timing-function: linear;
    position: relative;
}

.sec2-img2 {
    max-width: 185px;
    border: 1px solid #f3f5f8;
    border-radius: 14px;
    position: absolute;
    left: 0;
    box-shadow: 0 5px 23px rgba(40,40,43,.06);
    display: inline-block;
    vertical-align: middle;
    bottom: -20px;
    animation: mymove2 3s infinite;
    animation-timing-function: linear;
}

.sec2-img3 {
    border: 1px solid #f3f5f8;
    border-radius: 10px;
    position: absolute;
    bottom: 32px;
    right: 40px;
    box-shadow: 0 5px 23px rgba(40,40,43,.06);
    max-width: 250px;
    display: inline-block;
    vertical-align: middle;
    animation: mymove3 3s infinite;
    animation-timing-function: linear;
}

.content1-item2 {
    z-index: 1;
    max-width: 43%;
    margin-left: auto;
    position: relative;
    flex: 1;
    margin-left: 0;
    /* margin-right: auto; */
}

.content1-item2 > h2 {
    margin-top: 0;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.289em;
    margin-bottom: 20px;
    color: #1e293b;
    border: 1px #0f172a;
}

.content1-item2 p {
    margin-bottom: 36px;
}

.content1-item2 p:last-of-type {
    font-size: 16px;
    line-height: 1.6em;
}

.btn-sec2-content1 {
    color: #fff;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #0d9488;
    border: 1px solid #0f766e;
    border-radius: 1000000px;
    padding: 20px 40px 18px;
    font-weight: 600;
    line-height: 1em;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 18px;
    max-width: 100%;
    display: inline-block;
    transition: 0.3s;
}

.btn-sec2-content1:hover {
    transform: translate3d(0,3px,0.01px);
}

.btn-sec2-content1-contents {
    justify-content: center;
    display: flex;
}

.arrow-btn-sec2-content1 {
    margin-right: 8px;
    margin-left: 0px;
    animation: mymove 1s infinite;
    position: relative;
}

.sec2-content1:before {
    content: "";
    width: 102%;
    height: calc(100% + 16px);
    margin-top: -24px;
    position: absolute;
    background: #f0fdfa;
    border-radius: 16px;
}

.grid-content-sec2-content2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 30px;
}

.grid-content-sec2-content2 img {
    vertical-align: middle;
    max-width: 138px;
    margin-bottom: 28px;
    transition: 0.3s;
}

.grid-content-sec2-content2 h5 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.333em;
    color: #1e293b;
}

.grid-item-sec2-content2:hover img {
    transform: rotateY(180deg);
}

.grid-content-sec2-content2 p {
    font-weight: 400;
    font-size: 16px;
}

.sec2-content3 {
    /* margin-top: 45px; */
    text-align: center;
}

.btns-sec2-content3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    color: #64748b;
    letter-spacing: -.5px;
    text-align: center;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1-sec2-content3 {
    background-color: var(--main-color);
    margin-bottom: 15px;
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 1000000px;
    padding: 20px 40px 18px;
    font-weight: 600;
    line-height: 1em;
    display: inline-block;
    transition: 0.3s;
}

.sec2-content3 .btn1-sec2-content3 {
    margin-right: 0;
}

.arrow-btn1-sec2 {
    margin-left: 0;
    margin-right: 8px;
    animation: mymove 1s infinite;
    position: relative;
}

.btn1-sec2-content3:hover {
    transform: translate3d(0,3px,0.01px);
}

.btn2-sec1-content3 {
    color: #0f766e;
    text-align: center;
    margin-bottom: 15px;
    transform-style: preserve-3d;
    background-color: transparent;
    border: 1px solid #0f766e;
    border-radius: 100000px;
    padding: 18px 25px;
    line-height: 1.111em;
    text-decoration: none;
    transition: 0.3s;
    transform: translateZ(0.01px);
    display: inline-block;
    font-size: inherit;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-right: 20px;
}

.btn2-sec1-content3:hover {
    color: #fff;
    background-color: #0f766e;
    transform: translate3d(0,3px,0.01px);
}

/* End Section2 */
/* Start Section3 */

.sec3 {
    padding-bottom: 60px;
}

.sec3-contents {
    display: flex;
    justify-content: space-between;
}

.sec3-content2 {
    width: 100%;
    max-width: 638px;
}

.sec3-content1 {
    max-width: 41%;
}

.sec3-content1 h2 {
    margin-top: 64px;
    margin-right: 30px;
    margin-bottom: 16px;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.333em;
    color: #1e293b;
}

.sec3-content1 p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 1.6em;
    letter-spacing: -0.5px;
    margin-right: 30px;
}

.sec3 .btn2-sec1-content3 {
    margin-right: 10px;
    width: 100%;
}

.sec3-cards-content {
    box-shadow: 0 4px 20px rgba(25,55,101,.04);
    background-color: #fff;
    border: 1px solid #f3f5f8;
    border-radius: 16px;
    padding: 83px 60px;
}

.sec3-cards-content .para-div {
    line-height: 1.5;
    margin-top: 10px;
    color: #667085;
    max-width: 90%;
    display: none;
}

.faq {
    padding-bottom: 30px;
    padding-right: 8px;
    cursor: pointer;
    column-gap: 45px;
    padding-top: 32px;
}

.faq {
    border-bottom: 1px solid #d5d9e0;
}

.faq.open i {
    transform: rotate(90deg);
}

.sec3-content2 .card:hover i, .sec3-content2 .card:hover h3 {
    transform: translateX(7px);
}


.sec3-content2 .faq:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    /* padding-bottom: 0; */
}

.sec3-content2 .card:first-of-type {
    padding-top: 0;
    display: flex;
}

.sec3-content2 .card h3 {
    letter-spacing: -1px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.273em;
    color: #1e293b;
    margin-right: 20px;
    margin-bottom: 0;
    transition: 0.2s;
}

.card {
    display: none;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sec3-content2 .card i {
    font-size: 18px;
    transition: 0.2s;
}

/* End Section3 */
/* Start Price Section  */

/* .price-section-container {
    background: #fff;
    width: 100%;
    z-index: 999;
    max-width: 1228px;
    max-height: calc(100% - 200px);
    box-shadow: 0 4px 20px rgba(25,55,101,.04);
    border-radius: 20px;
    padding: 30px;
} */

.price-section {
    padding-top: 56px;
}

.price-title-div h2 {
    color: #1e293b;
    text-align: center;
    letter-spacing: -.04em;
    margin-bottom: 20px;
    font-size: 68px;
    font-weight: 400;
    line-height: 72px;
    margin-top: 20px;
}

.price-title-div p {
    color: #64748b;
    text-align: center;
    letter-spacing: -.02em;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.price-content1-contents {
    justify-content: center;
    margin-bottom: 40px;
    display: flex;
}

.price-icon {
    vertical-align: top;
    cursor: pointer;
    padding: 9px 30px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #e5e7eb;
    font-weight: 500;
    line-height: 24px;
}

.price-icon-border {
    background-color: transparent;
    border-bottom-width: 4px;
    border-bottom-color: #d97706;
}

.price-icon-border p {
    color: #d97706;
    font-weight: 700;
}

.price-icon p {
    transition: 0.3s;
}

.price-icon:hover p {
    color: #d97706;
}

.price-icon img {
    vertical-align: middle;
    max-width: 100%;
    width: 50px;
    margin-bottom: 12px;
}

.dropdown-div {
    text-align: center;
    align-self: center;
    display: inline-block;
    border: 1px solid #d5d9e0;
    border-radius: 8px;
}

.price-content2-contents {
    border: 1px solid #f3f5f8;
    border-radius: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    display: flex;
}

.price-content2-contents p {
    color: #1e293b;
    margin-bottom: 6px;
    margin-left: 14px;
}

.selected-price {
    text-align: center;
    max-width: 100%;
    width: 200px;
    color: #1e293b;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: 0.3s;
}

.before-price:hover {
    color: var(--main-color);
}

.price-card-contents {
    padding: 30px 10px 20px;
}

.price-list {
    list-style: none;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d5d9e0;
    border-radius: 8px;
    padding: 6px 12px;
    position: absolute;
    box-shadow: 1px 1px 6px #d3d3d3;
    right: -1px;
    margin-top: 40px;
    display: none;
    z-index: 10;
    cursor: pointer;
}

.price-list li:hover {
    color: var(--main-color);
}

.price-list li {
    color: #1e293b;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: 0.3s;
}

.before-price {
    color: #1e293b;
    font-size: 15px;
    cursor: pointer;
}

.price-content3-contents {
    grid-auto-columns: 1fr;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}

.price-content3.marked-content {
    visibility: visible;
    opacity: 1;
    height: 100%;
    transition: 0.5s;
    margin-right: 10px;
    margin-left: 10px;
}

.price-content3 {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.price-card {
    background-color: transparent;
    border: 2px solid #ebebf4;
    border-radius: 20px;
    padding: 10px 10px 20px;
    text-decoration: none;
    transition: border-color .3s;
    position: relative;
}

.price-card-featured {
    background-color: #fff;
    border: 4px solid #fcd34d;
    border-radius: 20px;
    padding: 10px 10px 20px;
    text-decoration: none;
    transition: border-color .3s;
    align-self: stretch;
}

.price-card-top {
    color: #6869ac;
    background-color: #fffbeb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    background-color: #fffbeb;
}

.card-top-img {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    z-index: 1;
}

.card-top-img img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.top-title {
    color: #d97706;
    letter-spacing: -.04em;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
}

.card-top-text p {
    color: #64748b;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.price-card-featured .price-card-top {
    color: #fff;
    background-color: #d97706;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    display: block;
    position: relative;
}

.pricing-badge {
    color: #fff;
    background-color: #fef3c7;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
}

.best-badge {
    color: #d97706;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: -.5px;
}

.price-card-featured .top-title {
    color: #fff;
}

.price-card-featured .price-card-top p {
    color: #fff;
}

.price-card-featured .price-card-top > img {
    width: 90%;
    height: 10rem;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.card-top-text {
    position: relative;
    z-index: 1;
}

.price-part1 {
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -.04em;
    margin-bottom: 4px;
    color: #0f766e;
    font-size: 20px;
}

.price-part1 span {
    color: #667085;
    font-weight: 400;
    text-decoration: line-through;
}

.price-part2 {
    color: #1e293b;
    letter-spacing: -.04em;
    margin-bottom: 4px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.price-part2-featured {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #1e293b;
    letter-spacing: -.04em;
    margin-bottom: 4px;
}

.price-value-container p {
    font-weight: 500;
    color: #64748b;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.5px;
}

.price-btn {
    width: 100%;
    color: #d97706;
    background-color: transparent;
    border: 1px solid #d97706;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    transition: .2s;
    display: flex;
    line-height: 1.4em;
    cursor: pointer;
    transition: 0.2s;
}

.price-btn:hover {
    color: #fff;
    background-color: #d97706;
    transform: translateY(-4px);
}

.price-btn-featured {
    width: 100%;
    background-color: #d97706;
    border: 1px solid #d97706;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    transition: .2s;
    display: flex;
    line-height: 1.4em;
    letter-spacing: -.5px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.price-btn-featured:hover {
    transform: translateY(-4px);
}

.price-card-list {
    margin-top: 30px;
    margin-bottom: 32px;
    min-height: 180px;
    color: #64748b;
    letter-spacing: -.5px;
}

.price-card-list ul {
    list-style: none;
    padding: 0;
}

.price-card-list ul li {
    color: #1e293b;
    letter-spacing: -.02em;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
}

.price-card-list ul li p {
    color: #1e293b;
}

.price-card-list ul li p span {
    color: #64748b;
    font-size: 11px;
}

.price-card-list p {
    margin: 0;
}

.price-content4 {
    margin-top: 40px;
    margin-bottom: 60px;
    display: block;
}

.outline-div {
    background-color: transparent;
    border: 2px solid #ebebf4;
    border-radius: 20px;
    padding: 10px 10px 20px;
    text-decoration: none;
    transition: border-color .3s;
    position: relative;
    padding-bottom: 10px;
}

.border-div {
    padding: 20px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eff6ff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
}

.price-cont4-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    grid-template-rows: auto;
}

.cont4-grid-part1 img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    width: 50%;
}

.cont4-grid-part1 div {
    letter-spacing: -.04em;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    color: #2563eb;
    margin-top: 14px;
}

.cont4-grid-part1 p {
    color: #64748b;
    font-size: 13px;
    line-height: 24px;
}

.cont4-grid-part2 {
    text-align: left;
    align-self: center;
}

.cont4-grid-part2 div {
    color: #1e293b;
    letter-spacing: -.04em;
    margin-bottom: 4px;
    font-family: Inter,sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.cont4-grid-part2 p {
    color: #64748b;
    font-size: 13px;
    line-height: 24px;
}

.price-content5 {
    margin-top: 28px;
    margin-bottom: 44px;
    max-width: 644px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.price-content5 p {
    color: #64748b;
    letter-spacing: -.5px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
}

.last-part-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    text-align: center;
    grid-template-rows: auto;
    margin-top: 12px;
}

.last-grid-part1 p {
    color: #64748b;
    letter-spacing: -.5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.last-grid-part2 > p {
    color: #64748b;
    letter-spacing: -.5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.last-grid-part1 img {
    max-width: 100%;
    display: inline-block;
}

.div-last-grid {
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

.div-last-grid img {
    max-width: 100%;
    display: inline-block;
}

.div-last-grid p {
    font-size: 12px;
    line-height: 1.5em;
    margin-left: 6px;
    text-align: right;
    margin-bottom: 0;
}

.price-content5 p:first-of-type {
    font-weight: 600;
}

/* End Price Section  */
/* Start Footer  */
.footer {
    background-color: #0f172a;
    border-top: 1px #d5d9e0;
    padding-bottom: 29px;
}

.footer .container {
    margin-bottom: 0;
}

.footer-logo {
    width: 100px;
    margin-bottom: 0px;
    transition: 0.4s;
}

.footer-logo:hover {
    cursor: pointer;
    transform: scale3d(1.02,1.02,1.01);
}

.footer-up-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 78px;
    padding-bottom: 79px;
}

.footer-up-content1 p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.714em;
    color: #d5d9e0;
    font-weight: 500;
    margin-top: 5px;
}

.social-footer-div {
    display: flex;
}

.social-footer-div i {
    color: #fff;
    font-size: 16px;
    /* margin-right: 14px; */
    transition: 0.2s;
}

.social-footer-div div {
    width: 28px;
    max-height: 28px;
    min-height: 28px;
    min-width: 28px;
    color: #fff;
    background-color: #334d74;
    border-radius: 9999px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    font-weight: 400;
}
.social-footer-div div:hover {
    cursor: pointer;
    background: var(--main-color);
}

.social-footer-div div:hover i {
    color: #334d74;
}

img.footer-pay-img {
    margin-top: 15px;
}

.social-footer-div {
    margin-right: -8px;
    /* flex-wrap: wrap; */
    margin-right: -14px;
    /* display: flex; */
}

.footer-menu-content {
    display: flex;
    justify-content: space-between;
    column-gap: 68px;
}

.footer-menu-title {
    color: #fff;
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.17em;
}

.footer-menu-content ul {
    list-style: none;
    padding: 0;
}

.footer-menu-content ul li {
    margin-bottom: 20px;
    line-height: 1.176em;
    color: #d5d9e0;
    transition: 0.4s;
}

.footer-menu-content ul li:hover {
    cursor: pointer;
    color: var(--main-color);
}

.footer-up-content2 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-up-content1 {
    margin-left: 40px;
    max-width: 339px;
}

.up-content2-div1 {
    display: flex;
    column-gap: 68px;
}

.footer-mail p {
    display: inline-block;
    margin-right: 11px;
    font-size: 14px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 0;
    color: #fff;
}

.footer-mail i {
    font-size: 34px;
    background: #73b1ff;
    padding: 10px;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
}

.footer-mail {
    color: #64748b;
    background-color: #334d74;
    border-radius: 11px;
    padding: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-mail:hover {
    cursor: pointer;
    color: #64748b;
    background-color: rgba(255,255,255,.2);
}

.footer-mail span {
    color: #d5d9e0;
    font-size: 14px;
    line-height: 1.714em;
}

.footer-down-div {
    padding-top: 30px;
    border-top: 1px solid #64748b;
}

.footer-down-div p {
    color: #f3f5f8;
    margin-right: 30px;
    margin-bottom: 0;
}

/* End Footer  */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}::-webkit-scrollbar {
    width: 10px;
}

i.fa-solid.fa-circle-check {
    color: #47beb9;
}

a.btn3 {
    padding: 10px 0px !important;
    margin: 0px;
}

.btn3-div {
    padding: 0px 24px 0 0 !important;
    margin: 0px !important;
}